.sign-up-form
  .form
    %h1
      Edit #{resource_name.to_s.humanize} Form
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :image, label: false
        = f.input :name, label: false, placeholder: "Name"
        = f.input :about, label: false, placeholder: "Tell us something about yourself .."
        = f.input :age, label: false, placeholder: "Age"
        = f.input :email, label: false, placeholder: "Email Address", required: true, autofocus: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        = f.input :password, autocomplete: "off", label: false, placeholder: "Password| Leave Blank", required: false
        = f.input :password_confirmation, required: false, label: false, placeholder: "Confirm Password"
        = f.input :current_password, label: false, placeholder: "Enter Current Passsword", required: true
      .form-actions
        = f.button :submit, "Update", class: "button form-sub"
        %h3
          #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button form-btn"}
      = link_to "Back", :back, class: "button form-btn back"
