.sign-up-form
  .form
    %h1 Sign Up Form
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :image, label: false, input_html: {class: "upload"}
        = f.input :name, label: false, placeholder: "Name"
        = f.input :about, label: false, placeholder: "Tell us something about yourself .."
        = f.input :age, label: false, placeholder: "Age"
        = f.input :email, label: false, placeholder: "Email Address", required: true, autofocus: true
        = f.input :password, label: false, placeholder: "Password | 6 Chars min.", required: true
        -# , hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
        = f.input :password_confirmation, label: false, placeholder: "Confirm Password", required: true
      .form-actions
        = f.button :submit, "Sign up", class: "button form-sub"
        = render "devise/shared/links"
