.movie-cover
  = image_tag @movie.cover.url(:medium), class: "show-cover"
  .data
    .movie-info
      .title
        %h2.movie-title= @movie.title
        .buttons
          %span
            = link_to like_movie_path(@movie), mothod: :get do
              %i.heart.fa.fa-heart
            = @movie.get_likes.size
      .poster
        = image_tag @movie.image.url(:medium)
    .info
      .basic
        .genre-rating
          %p
            %b Genre:
            =@movie.genre
            -
            %b Rating:
            =@movie.rating
        .length-year
          %p= "#{@movie.length} - #{@movie.month} #{@movie.year}"
      .synopsis
        %h3
          %b Synopsis
        %p= simple_format(@movie.synopsis)
      .director-actors
        .director
          %p
            %b Director:
            =@movie.director
        .actors
          %p
            %b Actors:
            = @movie.actors
      .icons
        %span
          = link_to @movie.link_w do
            %i.wiki.fa.fa-wikipedia-w
        %span
          = link_to @movie.link_rt do
            = image_tag "tomato.png", class: "tomato"
        %span
          = link_to @movie.link_yt do
            %i.youtube.fa.fa-youtube-play
        %span
          = link_to @movie.link_fb do
            %i.facebook.fa.fa-facebook-official
-# %h2= "#{pluralize(@movie.reviews.count, 'Review')}"

- if current_user
  = render 'reviews/form'

= render @movie.reviews

.random-movie
  = link_to @random_movie do
    %h3
      %i.wiki.fa.fa-random
      Discover a Movie!
