%h1= @movie.title
%p
  = link_to "Like Movie", like_movie_path(@movie), mothod: :get
  = @movie.get_upvotes.size
= image_tag @movie.image.url(:medium)

%p= link_to "Back", movies_path


%h2= "#{pluralize(@movie.reviews.count, 'Review')}"

= render @movie.reviews

- if current_user
  %h3 Add a Review
  = render 'reviews/form'

%br
%br
%hr
.random-movie
  = link_to (image_tag @random_movie.image.url(:small)), @random_movie
  %h3= link_to @random_movie.title, @random_movie
  = @random_movie.get_upvotes.size
